header {
  position: fixed;

  .side {
  }

  .sideA {

    h1 {
      font-family: Megrim, monospace;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 5px 10px;
      text-transform: uppercase;
    }
  }
}
