<div id="container">
  <div id="box_notes">
    <app-scatter-notes
      [components]="components"
    ></app-scatter-notes>
  </div>
  <div id="box_vis">
    <app-scatter-view-select *ngIf="components.views['select'].selected"
      [components]="components"
    ></app-scatter-view-select>
    <app-scatter-view-zoom *ngIf="components.views['zoom'].selected"
      [components]="components"
    ></app-scatter-view-zoom>
    <app-scatter-view-pan *ngIf="components.views['pan'].selected"
      [components]="components"
    ></app-scatter-view-pan>
    <app-scatter-view-pan-z-axis *ngIf="components.views['pan-z-axis'].selected"
      [components]="components"
    ></app-scatter-view-pan-z-axis>
    <app-scatter-view-filter *ngIf="components.views['filter'].selected"
      [components]="components"
    ></app-scatter-view-filter>
    <app-scatter-view-brush *ngIf="components.views['brush'].selected"
      [components]="components"
    ></app-scatter-view-brush>
    <app-scatter-view-swipe *ngIf="components.views['swipe'].selected"
      [components]="components"
    ></app-scatter-view-swipe>
  </div>
</div>
